html,
body, 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --dark-green: #479A72;
    --light-green: #73BF9A;
    --dark-purple: #7676E5;
    --light-purple: #9F9FED;

    --primary: var(--light-green);
    --secondary: var(--dark-green);

    /*typography*/
    --h1: 7.594rem;
    --h2: 3.5rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
}

.warm {
    --primary: var(--light-purple);
    --secondary: var(--dark-purple);
}

.cool {
    --primary: var(--light-green);
    --secondary: var(--dark-green);
}

.title {
    background-color: var(--primary);
}

.store-front {
    background-color: var(--secondary);
}

h1 {
    font-size: var(--h1);
    text-align: center;
    padding: var(--h5);
    font-family: 'Alata', sans-serif;
}

h2{
    font-size: var(--h2);
    margin-bottom: 2rem;
}

h3{
    font-size: var(--h4);
    margin-top: 2rem;
}



.store-front {
    font-size: var(--h2);
    text-align: center;
    padding: var(--h5);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;

}

.inner{
    border: solid black 0.5rem;
    margin: var(--h2);
    padding: var(--h2);
    background-color: var(--primary);
    border-radius: 1rem;
    font-family:'Noto Sans', sans-serif;

}


.picture{
    height: 20rem;
    border-radius: 1rem;
}

.btn{
    background-color: #fffff0;
    font-family:'Noto Sans', sans-serif;
    padding: 0.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1rem;
    transition: all 0.2s  
    
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}



